/* You can add global styles to this file, and also import other style files */
/* Show it is fixed to the top */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
  }
.required label::after {
  content: '*';
}
.invalid-feedback {
  display: block;
  width: 100%;
  margin-top: .25rem;
  font-size: .875em;
  color: #dc3545;
}
.form-control.ng-pristine.ng-invalid.ng-touched {
  border-color: #dc3545;
}