
<h1>Demo 2 : Dynamically Add Validators</h1>
<p>
    The FormGroup class exposes an API that enables us to set validators dynamically.
</p>

<pre>
    form valid: {{demoForm.valid}}
    status value : {{demoForm.get('status')?.value}}
    status valid : {{demoForm.get('status')?.valid}}
    email value : {{demoForm.get('email')?.value}}
    email valid : {{demoForm.get('email')?.valid}}
    opmerkingen value : {{demoForm.get('opmerkingen')?.value}}
    opmerkingen valid : {{demoForm.get('opmerkingen')?.valid}}

    same address value : {{demoForm.get('sameAddress')?.value}}
    same address valid : {{demoForm.get('sameAddress')?.valid}}
</pre>

<form [formGroup]="demoForm" (ngSubmit)="onSave()">
  <fieldset>
    <div class="mb-3">
      <select class="form-select" formControlName="status">
        <option *ngFor="let status of statussen" [value]="status.id">{{status.status}}</option>
      </select>
    </div>    
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input formControlName="email"
        type="email"
        class="form-control"
        id="email"
        placeholder="name@example.com"
      />
    </div>
    <div class="mb-3" [class.required]="opmerkingenControl.validator!==null">
      <label for="exampleFormControlTextarea1" class="form-label">Opmerkingen</label>
      <textarea formControlName="opmerkingen"
        class="form-control"
        id="opmerkingen"
        rows="3"
      ></textarea>            
        <div *ngIf="opmerkingenControl.invalid && (opmerkingenControl.dirty || opmerkingenControl.touched)">
            <div class="invalid-feedback" *ngIf="opmerkingenControl.errors?.required">Opmerkingen is required.</div>
            <div class="invalid-feedback" *ngIf="opmerkingenControl.errors?.minlength">Opmerkingen must be at least 5 characters long.</div>
        </div>
    </div>

    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="same-address" formControlName="sameAddress">
        <label class="form-check-label" for="same-address">Shipping address is the same as my billing address</label>
      </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>
